/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper-1 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 12px;
  padding: 12px;
  border: solid black 1px;
}

.item {
  list-style: none;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 24px;
  padding: 12px;
}

.container {
  display: flex;
  border: solid black 1px;
  flex: 1;
}

.container-column {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  flex: 1;
  padding: 12px;
  margin-left: 12px;
}

.photo {
  width: 120px;
  height: auto;
  border: solid black 1px;
}

.name {
  flex: 1;
  padding: 24px;
  font-size: 24px;
}

.post-num {
  display: flex;
  align-items: flex-end;
  padding: 12px;
}

.container-column-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  flex: 1;
  gap: 24px;
  padding: 12px;
}

.title {
  color: red;
}

.bio {
  padding-bottom: 50px;
}

.container-2 {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  font-size: 10px;
}

.button-1 {
  width: 120px;
  align-self: center;
}

.container-3 {
  display: flex;
  justify-content: space-between;
}

.button {
  text-decoration: none;
  background-color: #eee;
  color: #333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #ccc;
  width: 150px;
  height: 40px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  border: solid black 1px;
}

.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.email-intro {
  width:100%;
}

